ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a, .dropbtn
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover, .dropbtn
{
    background-color: #111111;
}

.dropdown
{
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content
{
    display: block;
}

.active
{
    background-color: green;
}

.leftmeun {
    width: 60px;
    height: 100%;
    background-color: #333333;
    color: white;
    list-style-type: none;
    text-align: left;
}

.tablewith {
    width: 300px;
    text-align: center;
}

.nodedisplay {
    display:inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px; /*上下居中显示*/
    text-align: center;
    background-color: limegreen;
    margin: 3px;
}

.resorcedisplay {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: limegreen;
    margin: 20px;
    line-height: 100px;
    text-align: center;
}