{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_ns }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'k8s/css/mystyle.css' %}">
</head>
<body>
<div>
    <div name="导航栏">
        <ul>
            <li><a href="/">首页</a> </li>
            <li><a href="/k8s/">Kubernetes主页</a> </li>
            <div class="dropdown">
                <a href="#" class="dropbtn">命名空间</a>
                <div class="dropdown-content">
                    {% for namespace in namespaces_list %}
                        <a name="pmdetail" href="/k8s/pods/{{ namespace }}/">{{ namespace }}</a>
                    {% endfor %}
                </div>
            </div>
            <li><a class="active" href="/k8s/pods/{{ title_ns }}/">{{ title_ns }}信息</a> </li>
            <li style="float: right"><a href="/k8s/about/">Kubernetes简介</a> </li>
        </ul>
    </div>
    <div style="padding-top: 50px; padding-left: 12%">
        <h1>命名空间{{ title_ns }}的pod_list</h1>
        <table border="1" cellspacing="0">
            <tr style="background-color: gray">
                <th style="width: 350px">Pod Name</th>
                <th style="width: 500px">Image</th>
                <th style="width: 100px">Host IP</th>
                <th style="width: 100px">Pod IP</th>
                <th style="width: 100px">Phase</th>
            </tr>
            {% for pod_info_list in pods_info_list %}
                <tr>
                    {% for k, v in pod_info_list.items %}
                        {% if k == "phase" %}
                            {% if v == "Running" %}
                                <td style="text-align: center"><div style="background-color: limegreen">{{ v }}</div></td>
                            {% else %}
                                <td style="text-align: center">{{ v }}</td>
                            {% endif %}
                        {% else %}
                            <td>{{ v }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="padding-top: 50px; padding-left: 12%">
        <h1>命名空间{{ title_ns }}的svc_list</h1>
        <table border="1" cellspacing="0">
            <tr style="background-color: gray">
                <th style="width: 250px">Service Name</th>
                <th style="width: 300px">Selector</th>
                <th style="width: 150px">Cluster IP</th>
                <th style="width: 150px">Type</th>
                <th style="width: 100px">Node Port</th>
                <th style="width: 100px">Service Port</th>
                <th style="width: 90px">Target Port</th>
            </tr>
            {% for svc_info in svcs_info_list %}
            <tr>
                {% for k, v in svc_info.items %}
                    {% if k == "selector" %}
                        {% for lab, val in v.items %}
                            <td>{{ lab }} : {{ val }}</td>
                        {% endfor %}
                    {% else %}
                        <td>{{ v }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>