<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
</head>
<body>
<div>
    <div>
        <ul>
            <li><a class="active" href="">首页</a> </li>
            <li><a href="/k8s/">Kubernetes主页</a> </li>
            <li><a href="/logs/">日志主页</a> </li>
            <li><a href="/monitor/">监控主页</a> </li>
            <li><a href="/harbor/">Harbor主页</a> </li>
            <li style="float: right"><a href="/about/">关于</a> </li>
        </ul>
    </div>
    <div style="text-align: center; margin-top: 200px">
        <p style="font-size: 100px; color: red">开发中.........</p>
    </div>
</div>
</body>
</html>